.chambre-header {
    text-align: center;
    background-color: var(--white);
    width: 100vw;
    padding-top: 6vh;
    padding-bottom: 4vh;

  }
  
  .chambres-selection {
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5vh;
    max-height: 342px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vh;
  }
  
  .chambres-selection::-webkit-scrollbar {
    display: none;
  }


  .chambres-selection > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 25px;
    font-size: 16px;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 20px;
    color: var(--black);
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5%;
    font-family: 'Outfit';
    font-weight: 600;
  }
  

  .chambres-selection > button.active {
    border: 2px solid #000;
}